@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");

h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 4vw;
  font-weight: 400;
  color: #333;
  @media (max-width: 1024px) {
    font-size: 3rem;
  }
  @media (max-width: 600px) {
    font-size: 2rem;
  }
  span {
    font-weight: 700;
    color: black;
  }
}
p {
  font-size: 1rem;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font: inherit;
  user-select: none;
  font-family: "Oswald", sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  @media (max-width: 1024px) {
    height: auto;
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100vh;
    background: white;
    cursor: grab;
    will-change: width;
    overflow: hidden;
    z-index: 100;
    touch-action: none;
    user-select: none;
    @media (max-width: 1024px) {
      top: auto;
      right: 0;
      width: 100%;
      height: 60px;
      will-change: height;
    }
    .fight {
      position: absolute;
      left: 10px;
      bottom: 10px;
      height: 10vh;
      @media (max-width: 1024px) {
        bottom: auto;
        top: 15px;
        height: 50px;
      }
    }
    .please {
      border-radius: 50%;
      height: 25vh;
      margin-top: 30px;
      @media (max-width: 1024px) {
        margin-top: 10px;
      }
    }
    .contact {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 40vw;
      min-width: 40vw;
      will-change: scale;
      @media (max-width: 1024px) {
        width: 85vw;
      }
      @media (max-width: 600px) {
        width: 100vw;
        padding: 30px;
        margin-bottom: 30px;
      }
      h2 {
        font-family: "Amatic SC", cursive;
        margin-bottom: 40px;
        margin-top: 15px;
        font-size: 2.5rem;
        @media (max-width: 600px) {
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 15px;
        text-align: center;
        @media (max-width: 600px) {
          font-size: 1rem;
          font-weight: 300;
        }
      }
      .social {
        position: relative;
        display: flex;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 10px 20px 30px 20px;
          @media (max-width: 600px) {
            margin: 0px 20px 30px 20px;
            font-weight: 300;
          }
          svg {
            width: 25px;
            height: 25px;
            @media (max-width: 600px) {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    &Hint {
      position: absolute;
      right: 15px;
      writing-mode: vertical-lr;
      text-transform: uppercase;
      height: 100%;
      text-align: center;
      font-size: 1rem;
      @media (max-width: 1024px) {
        writing-mode: horizontal-tb;
        height: auto;
        width: 100%;
        bottom: 24px;
        right: auto;
      }
      @media (max-width: 600px) {
        font-size: 0.9rem;
      }
    }
    .close {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: bisque;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 20px 80px;
    width: 100%;
    height: 100%;
    background: bisque;
    overflow: hidden;
    @media (max-width: 1024px) {
      padding: 20px 10px 80px 10px;
    }
    &Cats {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr 1fr;
      height: 100%;
      width: 100%;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 350px);
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 250px);
      }
      .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 100px;
        margin: 40px 15px;
        will-change: translate3d;
        @media (max-width: 600px) {
          margin: 25px 8px;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }
        p {
          position: absolute;
          bottom: -30px;
          z-index: 10;
          text-align: center;
        }
      }
    }
  }
}
